{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Sample Django Project to demonstrate basic user functionality.">
        <meta name="author" content="Shivateja Burle">
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="icon" type="image/png" href="{% static 'home/favicon.ico' %}">
    </head>
    <body>
        {% block navbar %}
            {% include "menu.html" %}
        {% endblock %}
        <div class="container mt-3">
            {% bootstrap_messages %}
        </div>
        {% block content %}
        {% endblock %}
        <script>
            function setActive(){
                if ("{{request.resolver_match.route}}") {
                    document.getElementById("{{request.resolver_match.route}}").classList.add('active');
                } else {
                    document.getElementById("home").classList.add('active');
                }
            }
            setActive();
        </script>
    </body>
</html>